.crypto-bar{
    justify-content: center;  
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1em;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border:1px solid grey;
    border-radius: 15px;
}
.graph-box{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.graph{
    height: auto;
    width: 100%;
}
.graph-btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: left;
    padding-top: 0;
    padding-bottom: 1em;
    margin-left: 3em;
    min-height: 2em;
}
.btn{
    font-weight: 400;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px grey;
    padding: 0.25em 0.75em 0.25em 0.75em;
    border-radius: 15px;
    font-size: 25px;
    margin: 0.5em 0.5em auto 0.5em;
    min-width: 130px;
}
.active, .btn:hover{
    color: white;
    background-color: gray;
    cursor: pointer;
}
.info-box{
    width: 100%;
    min-width: 180px;
    max-width: 250px;
    border: 1px solid grey;
    border-radius: 15px;
    font-size:22px;
}
.value{
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 0.5em 1em 0 1em;
}
.info{
    margin: 1em 0 0 1em;
}
img{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.right-bar{
    padding-left: 5px;
    padding-top: 5px;
    width: 13%;
    min-width: 180px;
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container{
    max-width: 250px;
    margin-top: 20%;
}
#diffrence{
    border: none;
}
.error{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1350px){
    .graph-box{
        width: 98%;
    }
    main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .right-bar{
        flex-direction: row;
        justify-content: center;
        width: 90%;
        max-width: unset;
        margin-top: 1em;
        max-height: 80px;
    }
    .info-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1000px;
    }
    .info-box > div{
        width: 23%;
    }
    .img-container{
        width: 0;
        height: 0;
    }
    .value, .info{
        margin: 0.5em 0 0.5em 1em;
        border: none;
    }
    .graph-btns{
        margin-left: unset;
        justify-content: center;
    }
}
@media screen and (max-width: 900px){
    .btn{
        font-size: 18px;
        min-width: unset;
    }
    .value, .info{
        font-size: 18px;
    }
}
@media screen and (max-width: 750px){
    .btn{
        font-size: 16px;
    }
    .value, .info{
        font-size: 16px;
    }
}
@media screen and (max-width: 630px){
    .btn{
        font-size: 14px;
    }
    .value, .info{
        font-size: 14px;
    }
}
@media screen and (max-width: 550px){
    .value, .info{
        font-size: 12px;
    }
}