.crypto-bar{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    height: 8vh;
}
main{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    border:1px solid grey;
    border-radius: 15px;
}
.graph-box{
    height: 89vh;
    width: 80%;
    margin: auto;
}
.graph{
    height: 88%;
    width: 100%;
}
.graph-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.btn{
    font-weight: 400;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px grey;
    padding: 0.25em 0.75em 0.25em 0.75em;
    border-radius: 15px;
    font-size: 25px;
    margin: 0.5em 0.5em auto 0.5em;
}
.btn:hover{
    color: white;
    background-color: gray;
    cursor: pointer;
}
.info-box{
    min-width: 200px;
    width: 20%;
    border: 1px solid grey;
    border-radius: 15px;
    height: 21em;
    font-size:22px;
    margin: 10px;
}
span{
    float: right;
    margin-right: 1em;
    font-weight: 600;
}
.info:not(:last-of-type){
    border-bottom: 1px solid black;
    padding-bottom: 2em;;
}
.info{
    padding-top: 1em;
    margin-left: 1em;
}